CREATE TABLE [operators] (
[ID_OPERATOR] INTEGER  PRIMARY KEY AUTOINCREMENT NULL,
[FULL_NAME] VARCHAR(100)  NOT NULL,
[USERNAME] VARCHAR(100)  UNIQUE NOT NULL,
[SECRET] VARCHAR(255)  NOT NULL,
[EXTENSION] VARCHAR(20)  UNIQUE NOT NULL,
[ENABLED] BOOLEAN DEFAULT '1' NULL
);


CREATE TRIGGER [on_operator_delete] 
AFTER DELETE ON [operators] 
FOR EACH ROW 
BEGIN 

DELETE FROM services_operators WHERE ID_OPERATOR=OLD.ID_OPERATOR;

END;

CREATE TABLE [services] (
[ID_SERVICE] INTEGER  PRIMARY KEY AUTOINCREMENT NULL,
[CONTEXT_TYPE] VARCHAR(10) DEFAULT 'INBOUND' NOT NULL,
[CONTEXT] VARCHAR(100)  NOT NULL,
[APPLICATION_TYPE] VARCHAR(20) DEFAULT 'EXTERNAL' NOT NULL,
[APPLICATION] VARCHAR(255)  NULL,
[PARAMETERS] TEXT  NULL,
[ENABLED] BOOLEAN DEFAULT '1' NULL
);
CREATE TRIGGER [on_service_delete] 
AFTER DELETE ON [services] 
FOR EACH ROW 
BEGIN 

DELETE FROM services_operators WHERE ID_SERVICE=OLD.ID_SERVICE;
DELETE FROM services_variables WHERE ID_SERVICE=OLD.ID_SERVICE;

END;

CREATE TABLE services_operators(
ID_SERVICE INTEGER NOT NULL,
ID_OPERATOR INTEGER NOT NULL,
FOREIGN KEY (ID_SERVICE) REFERENCES services(ID_SERVICE),
FOREIGN KEY (ID_OPERATOR) REFERENCES operators(ID_OPERATOR)
);

CREATE TABLE services_variables(
ID_VARIABLE INTEGER PRIMARY KEY AUTOINCREMENT,
ID_SERVICE INTEGER NOT NULL,
VARNAME TEXT NOT NULL,
FOREIGN KEY (ID_SERVICE) REFERENCES services(ID_SERVICE)
);
