[Server]
port=5000
readTimeout=50000
compressionLevel=0

[AsteriskAMI]
host=localhost
port=5038
user=ctiserver
secret=ctiserver
connect_timeout=30
connect_retries=5

[RuntimeDb]
host=localhost
user=asteriskcti
password=asteriskcti
port=3306
database=asteriskcti

